{% extends "dashboard/base.html" %}
{% load static %}
{% block css %}
    <style>
        body {
            background-color: #f8f9fa; /* Yengil fon rangi */
        }
        .card {
            max-width: 600px; /* Kartaning maksimal kengligi */
            margin: auto; /* Markazga joylash */
            padding: 20px; /* Ichki joylash */
        }
        .dots {
            border-bottom: 1px dotted #000; /* Nuqtalar */
            flex-grow: 1; /* Bo'sh joyni to'ldiradi */
            margin: 0 10px; /* Margin o'ng va chap tomondan */
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'dashboard/navbar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "dashboard/navbar2.html" %}

                <!-- End of Topbar -->

                










                <div class="container mt-5 card shadow">
                    <h2 class="text-center">Profilni Tahrirlash</h2>
                    <form action="{% url "dashboard:edit_profile" %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Ism</label>
                            <input type="text" name="first_name" value="{% if user.first_name %}{{ user.first_name }}{% endif %}" class="form-control" id="firstName" placeholder="Ismingizni kiriting" >
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Familiya</label>
                            <input type="text" name="last_name" value="{% if user.last_name %}{{ user.last_name }}{% endif %}" class="form-control" id="lastName" placeholder="Familiyangizni kiriting" >
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" value="{% if user.email %}{{user.email}}{% endif %}" class="form-control" id="email" placeholder="Emailingizni kiriting" >
                        </div>
                        <div class="mb-3">
                            <label for="telegram_id" class="form-label">Telegram id</label>
                            <input type="number" name="telegram_id" value="{% if user.telegram_id %}{{user.telegram_id}}{% endif %}" class="form-control" id="telegram_id" placeholder="Telegram idni kiriting" >
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Profil Rasmi</label>
                            <input type="file" name="picture" value="{{form.picture.value}}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </form>
                </div>  






                
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Mualliflik huquqi &copy; Sizning Saytingiz 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chiqishga tayyormisiz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Yopish">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Agar hozirgi sessiyani tugatishga tayyor bo'lsangiz, quyidagi "Chiqish"
                    tugmasini bosing.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Bekor qilish</button>
                    <a class="btn btn-primary" href="login.html">Chiqish</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static "admin/vendor/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "admin/vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

<!-- Page level custom scripts -->
<script src="{% static "admin/js/demo/datatables-demo.js" %}"></script>
{% endblock %}