{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image p-3">
                                <img src="{% static "admin/img/undraw_rocket.svg" %} " class=" " alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Qaytib kelganingiz bilan!</h1>
                                    </div>
                                    <form class="user" method="post" action="{% url "dashboard:login" %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" max="15" class="form-control form-control-user"
                                                id="exampleInputEmail" name='phone_number' aria-describedby="emailHelp"
                                                placeholder="Telfon raqamni kiriting..." value="+998">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" name="password" placeholder="Parolni kiriting...">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Kirish
                                        </button>
                                        
                                        
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock content %}
{% block script %}
<script>
    document.getElementById('exampleInputEmail').addEventListener("input", function (e) {
        let input = e.target.value.replace(/\D/g, ""); // Faqat raqamlarni olib qolamiz
      
        // +998 ni saqlab qolish
        if (input.startsWith("998")) {
          input = input.substring(3); // 998 ni olib tashlaymiz
        }
      
        // Formatlash
        let formattedNumber = "+998";
        if (input.length > 0) {
          formattedNumber += " (" + input.substring(0, 2); // 90-99 kodlar uchun
        }
        if (input.length >= 3) {
          formattedNumber += ") " + input.substring(2, 5);
        }
        if (input.length >= 6) {
          formattedNumber += "-" + input.substring(5, 7);
        }
        if (input.length >= 8) {
          formattedNumber += "-" + input.substring(7, 9);
        }
      
        // Inputni yangilash
        e.target.value = formattedNumber;
      
        // Xatoni yashirish (to'g'ri format kiritilganda)
        errorMessage.style.display = "none";
      });
</script>
{% endblock script %}