{% extends "dashboard/base.html" %}
{% load static %}
{% block css %}
    <link href="{% static "admin/vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">
<style>
            /* Rangli variantlar uchun uslub */
            .status-select {
                color: #000; /* Standart qora matn rangi */
                border: 2px solid #ced4da; /* Standart chegara rangi */
                transition: border-color 0.3s, color 0.3s; /* O'zgarish animatsiyasi */
                outline: none;
            }
    
            /* Tanlangan variantlarga mos keluvchi klasslar */
            .status-unconfirmed {
                background-color: #f8d7da;
                color: #dc3545;
            }
            .status-unconfirmed.selected {
                border-color: #dc3545; /* Qizil chegara */
            }
            
            .status-preparing {
                background-color: #fff3cd;
                color: #856404;
            }
            .status-preparing.selected {
                border-color: #856404; /* Sariq chegara */
            }
            
            .status-on-the-way {
                background-color: #cfe2ff;
                color: #0d6efd;
            }
            .status-on-the-way.selected {
                border-color: #0d6efd; /* Ko'k chegara */
            }
            
            .status-ready {
                background-color: #d4edda;
                color: #28a745;
            }
            .status-ready.selected {
                border-color: #28a745; /* Yashil chegara */
            }
            .modal-fullscreen {
                width: 100vw;
                height: 100vh;
                margin: auto;
                border: 0;
            }
</style>
{% endblock css %}
{% block content %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'dashboard/navbar.html' %}

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "dashboard/navbar2.html" %}

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Buyurtmalar</h1>
                    <p class="mb-4">Bu sahifada siz barcha Buyurtma ko'rishingiz va topshirishingiz mumkin.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow-sm mb-4">
                        <div class="card-body">
                            <!-- Buyurtma ID va Sanalar -->
                            <div class="mb-4">
                                <h4 class="card-title text-primary">Buyurtma ID: <strong id="orderId" class="text-dark">{{order.id}}</strong></h4>
                                <p class="card-text">
                                    <i class="bi bi-calendar-event-fill me-2"></i>
                                    <strong>Buyurtma berilgan sana:</strong> <span id="orderDate">{{order.created_at|date:"d-m-Y H:i"}}</span>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-box-seam me-2"></i>
                                    <strong>Jami mahsulotlar miqdori:</strong> <span id="totalProducts">{{order.total_quantity}}</span>
                                </p>
                                <p class="card-text">
                                    <i class="bi bi-cash-stack me-2"></i>
                                    <strong>Jami mahsulotlar narxi:</strong> <span id="totalPrice">{{order.get_format_price}} so'm</span>
                                </p>
                                <!-- Kelish sanasi input va tasdiqlash tugmasi -->
                                {% if order.status == "M" %}
                                <p class="card-text">
                                    <i class="bi bi-cash-stack me-2"></i>
                                    <strong>Buyurtma kelish sanasi:</strong> <span>{{order.date}}</span>
                                </p>
                                
                                {% elif order.status == "F" %}
                                <p class="card-text">
                                    <i class="bi bi-cash-stack me-2"></i>
                                    <strong>Buyurtma kelish sanasi:</strong> <span style="color:red;">Bekor Qilingan </span>
                                </p>
                                
                                {% elif order.status == "P" %}
                                <div class="mb-3 col-md-4 col-lg-3 order_date">
                                    <label for="deliveryDate" class="form-label">Buyurtma kelish sanasi:</label>
                                    <input type="date" class="form-control "  id="deliveryDate" onchange="showConfirmButton()">
                                    <button id="confirmBtn" class="btn btn-success mt-3 d-none" onclick="confirmDelivery()">Tasdiqlash</button>
                                    <div id="confirmationMessage" class="mt-3 alert alert-success d-none" role="alert">
                                        <i class="bi bi-check-circle-fill"></i> Kelish sanasi tasdiqlandi!
                                    </div>
                                </div>
                                
                                <br>
                                
                                <button type="button" class="btn btn-danger" id="openModalBtn">
                                    bekor qilish
                                </button>
                                {% else %}
                                <p class="card-text">
                                    <i class="bi bi-cash-stack me-2"></i>
                                    <strong>Buyurtma kelish sanasi:</strong> <span>{{order.date}}</span>
                                </p>
                                {% endif %}
                                
                            </div>
                
                            <!-- Mahsulotlar ro'yxati -->
                            <h5 class="card-title mb-3">Mahsulotlar:</h5>
                            <div class="row">
                                {% for item in order.items.all %}
                                <div class="col-12 col-sm-6 col-md-4 mb-4">
                                    <div class="card product-card shadow-sm">
                                        {% comment %} <img src="{{item.product.get_banner_image.image.url}}" style="width:100%;height:200px;" class="card-img-top" alt="Mahsulot A"> {% endcomment %}
                                        <div style="width: 100%; height: 200px; background-image: url('{{item.product.get_banner_image.image.url}}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>

                                        <div class="card-body">
                                            <h6 class="card-title">{{ item.product.name|slice:":35" }}{% if item.product.name|length > 35 %}...{% endif %}</h6>
                                            <p class="card-text">
                                                <strong>Narxi:</strong> {{item.product.get_discounted_price}} so’m<br>
                                                <strong>Soni:</strong> {{item.quantity}}<br>
                                                <strong>Rangi:</strong> {{item.color.color.name}}<br>
                                                <strong>Toifasi:</strong> {% for category in item.product.category.all|slice:":3" %}{{category.name}}, {% endfor %}<br>
                                                <strong>Bredi:</strong> {{item.product.brend.name}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Mualliflik huquqi &copy; Sizning Saytingiz 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chiqishga tayyormisiz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Yopish">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Agar hozirgi sessiyani tugatishga tayyor bo'lsangiz, quyidagi "Chiqish"
                    tugmasini bosing.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Bekor qilish</button>
                    <a class="btn btn-primary" href="login.html">Chiqish</a>
                </div>
            </div>
        </div>
    </div>






<!-- To'liq ekran modal -->
<form method="post" onsubmit="handleSubmit(event)">
<div class="modal fade" id="fullScreenModal" tabindex="-1" aria-labelledby="fullScreenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered"> <!-- Markazlashtirish uchun bu sinfni qo'shdik -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullScreenModalLabel">To'liq Ekran Modal</h5>
                <button type="button" class="btn-close" id="closeModalBtn" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p>Bekor qilish uchun sababni yozing ...</p>
                <input type="hidden" name="order_id" value="{{order.id}}">
                <textarea name="reason" class="form-control" rows="5" placeholder="Matn yozing..."></textarea><br>
                <button type="submit" class="btn btn-danger col-12" >Bekor qilish </button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModalFooterBtn">Yopish</button>
            </div>
        </div>
    </div>
</div>
</form>


{% endblock content %}
{% block script %}


    

    <!-- Page level plugins -->
    <script src="{% static "admin/vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "admin/vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "admin/js/demo/datatables-demo.js" %}"></script>
    <script>
        // Tasdiqlash tugmasini ko'rsatish
        function showConfirmButton() {
            const confirmBtn = document.getElementById('confirmBtn');
            confirmBtn.classList.remove('d-none');
        }
    
        // Tasdiqlash funksiyasi
        function confirmDelivery() {
            let deliveryDate = document.getElementById('deliveryDate').value;
            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            const orderData = {
                order_id: {{order.id}},  // Example order ID, adjust as needed
                order_date: deliveryDate,  // Set order_date to deliveryDate value
            };
            console.log(orderData)
            fetch('/cart/save_order_date/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(orderData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    let element = document.querySelector('.order_date');
                    element.classList.remove('mb-3', 'col-md-4', 'col-lg-3');
                    element.innerHTML = `<p class="card-text">
                        <i class="bi bi-cash-stack me-2"></i>
                        <strong>Buyurtma kelish sanasi:</strong> <span>${data.formatted_date}</span>
                    </p>`;

                    document.getElementById('openModalBtn').remove()
                    
                    message(data.message,true)
                } else {
                    message(data.message,false)
                }
            })
            .catch(error => console.error('Error:', error));
            const confirmBtn = document.getElementById('confirmBtn');
            confirmBtn.classList.add('d-none');
            
        }








            // Select rangini tanlangan variantga moslashtirish funksiyasi
    function updateSelectColor(select) {
        // Tanlangan variant qiymatini olish
        const value = select.value;

        // Select elementining klassini tozalash
        select.className = 'form-select status-select';

        // Tanlangan variantga mos rangni belgilash
        if (value === "unconfirmed") {
            select.classList.add('status-unconfirmed');
        } else if (value === "preparing") {
            select.classList.add('status-preparing');
        } else if (value === "on-the-way") {
            select.classList.add('status-on-the-way');
        } else if (value === "ready") {
            select.classList.add('status-ready');
        }

        // Tanlangan holatda ranglarni o'zgartirish
        select.classList.add('selected');
    }

    // Boshlang'ich ranglarni o'rnatish
    document.querySelectorAll('.status-select').forEach(select => {
        updateSelectColor(select);
    });


    document.addEventListener("DOMContentLoaded", function() {
        const modalElement = document.getElementById('fullScreenModal');
        const modal = new bootstrap.Modal(modalElement);

        // Modalni ochish tugmasi
        document.getElementById('openModalBtn').addEventListener('click', function() {
            console.log("click bo'ldi")
            modal.show();
        });

        // Yopish tugmalari
        document.getElementById('closeModalBtn').addEventListener('click', function() {
            modal.hide();
        });

        document.getElementById('closeModalFooterBtn').addEventListener('click', function() {
            modal.hide();
        });
    });
    function handleSubmit(event) {
        event.preventDefault();
        const form = event.target; // Form elementni oladi
        const order_id = form.elements["order_id"].value; 
        const reason = form.elements["reason"].value; 
        console.log(order_id)
        console.log(reason)
        const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        data = {
            'order_id':order_id,
            'reason':reason
        }
        fetch('/cart/order/cancel/', { // URL ni view'ga moslang
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken, // CSRF tokenni qo'shing
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                document.getElementById('closeModalBtn').click()
                let element = document.querySelector('.order_date');
                element.classList.remove('mb-3', 'col-md-4', 'col-lg-3');
                element.innerHTML = `<p class="card-text">
                                            <i class="bi bi-cash-stack me-2"></i>
                                            <strong>Buyurtma kelish sanasi:</strong> <span style="color:red;">Bekor Qilingan </span>
                                        </p>`
                document.getElementById('openModalBtn').remove()
            } else {
                document.getElementById('closeModalBtn').click()
                alert("Xatolik yuz berdi!");
            }
        })
        .catch(error => console.error("Xatolik:", error));
        // Maxsus URL'ga yo'naltirish
    }
        // Maxsus URL'ga yo'naltirish
        
    </script>
{% endblock script %}